body ul#sharebar {
  display:none;
  position:absolute;
  width:65px;
  float:left;
  background:#fff;
  text-align:center;
  border:1px solid #ccc;
  list-style:none;
  list-style-image:none;
  list-style-type:none;
  z-index:99;
  margin:0;
  padding:0
}

body ul#sharebar li {
  display:block;
  /*overflow:hidden;*/
  text-align:center;
  background-image:none;
  margin:5px;
  padding:0
}

body ul#sharebarp {
  background:#fff;
  text-align:center;
  border:1px solid #ccc;
  list-style:none;
  list-style-image:none;
  list-style-type:none;
  margin:0;
  padding:0
}

body ul#sharebarp li {
  display:block;
  text-align:center;
  background-image:none;
  margin:5px;
  padding:0
}

body ul#sharebarx {
 /*display:none;
  list-style:none;
  list-style-image:none;
  list-style-type:none;
  float:left;
  margin:0 0 10px;
  padding:0*/
}

body ul#sharebarx a {
  line-height:14px;
  text-decoration:none
}

body ul#sharebarx li {
  float:left;
  margin-right:20px;
  line-height:18px;
  background-image:none
}

body ul#sharebarx li .st_email {
  margin:0 15px!important
}

.sharebar-button {
  font-size:11px;
  font-family:Verdana, Arial;
  background:#f7f7f7;
  color:#444;
  border:1px solid #ddd;
  display:block;
  margin:0 0 5px;
  padding:2px 4px
}

.sharebar-button:hover {
  border-color:#aaa
}

.credit {
  line-height:9px;
  margin:0;
  padding:0
}

.credit a {
  font-size:8px;
  color:#ccc;
  text-transform:uppercase;
  text-decoration:none;
  font-family:Verdana;
  line-height:9px
}

.FBConnectButton_Small {
  background-position:-5px -232px!important;
  border-left:1px solid #1A356E
}

.FBConnectButton_Text {
  margin-left:12px!important;
  padding:2px 5px 3px!important
}

.stButton {
  margin:0 0 6px!important
}

.stButton:last-child {
  margin:0!important
}

.stButton .stFb_vbubble {
  width:53px!important
}

.stButton .stFb_text {
  margin:1px 1px 0 14px !important;
  padding:2px 5px 3px!important
}
#sharebarp li a.email{
	background: url(http://dev.soulcollage.com/sites/all/modules/sharebar/images/emailshare.gif) no-repeat;
	border: none;
	text-indent: -9999999px;
}
#sharebarp{
	position:relative;
	/*right:1160px;
	top:200px;*/
	-moz-box-shadow:1px 1px 2px 2px #ccc;
	-webkit-box-shadow:1px 1px 2px 2px #ccc;
	box-shadow:1px 1px 2px 2px #ccc;
	background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC;
    float: left;
    margin-left: 19px;
    margin-top: 102px;
    right: 1px;
    width: 75px;
}
#sharebarp .credit{
	display:none;
}

#sharebarx{
	background: url("http://dev.soulcollage.com/sites/all/themes/soulcollage/images/share_bubble.png") no-repeat scroll 0 0 transparent;
	/*right: 1160px;top: 99px;padding: 55px !important;*/
	width:94px; height:103px;
	position: relative;
	left: -42px;
	position: relative;
	top: -105px;
	display:block !important;
}
.social_bar_side{float:left; position:fixed; right: 1100px; top:50px;}

#sidebar-mycontent{width:110px;float:left;position:fixed;top:150px;}
#content-wrapper{width:1070px !important;}
#content-body{margin-left:90px !important;}
#header{padding-left:108px;}

